/* RESET CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;    /*set up smooth scrolling bật enabled trong chrome*/
    font-family: 'Lato', sans-serif;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng(kiểu chữ, hình tròn, vuông,...)  
*/

/* COMMON */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}
/* MAIN */

#main {
    /* overflow: hidden; */
}

#header{
    /* width: 100%; */
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* overflow: hidden; */
}

#nav {
    display: inline-block;    /*co độ dài thẻ nav lại để chứa được icon search = cách làm mất tính block của thẻ div, chỉ cho phép nội dung đến đâu thì width đến đó */
    font-size: 15px;
}

#nav, .subnav {
    list-style-type: none;   /* bỏ kiểu list dấu chấm */
}

#nav > li {
    display: inline-block;    /* chỉ cho thẻ con li trực tiếp */
}

#nav li {
    position: relative;
}

#nav .subnav {
    min-width: 160px;  
    display: none;          /* Không hiện menu cấp 2*/
    position: absolute;     /* hiện bảng menu cấp 2, hiện tại thì mặc định ở vị trí chuẩn */
    top: 100%;     /* set up cố định, = height của thẻ cha */
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);   /* bóng đổ */
}

#nav .subnav a {
    color: #000;
    padding: 0 14px;
    line-height: 38.500px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#nav > li > a {
    color: #fff;               /*chỉ định chữ màu trắng*/
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;       /*bỏ gạch chân mặc định*/
    line-height: 46px;       /*chỉ định chiều dài thẻ*/
    padding: 0px 24px;             /*căn cách đều theo inspect*/
    display: inline-block;       /*resize kích cỡ thẻ = line-height*/
}

#nav li:hover .subnav {
    display: block;         /*hiển thị 3 phần trong menu c2 */
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#nav > li:hover > a,               /*cho các thẻ con a kế thừa + gộp*/
#nav .subnav li:hover a{
    color: #000;               /*màu chữ*/
    background-color: #ccc;    /*màu bg khi chạm vào*/
    width: 100%;
} 

#header .mobile-menu-btn,
#header .search-btn{
    float: right;        /* mất tính kế thừa chiều ngang*/
    padding: 0 24px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;      
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
 
#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    /* font-size: 20px; */
    line-height: 46px;
    font-size: inherit;
    /* text-decoration: solid; */
}

#slider{
    margin-top: 46px;    /*đẩy vùng của slide xuống khỏi header*/
    padding-top: 50%;  /*để size ảnh là dọc = 1/2 ngang, padding top = 50% chiều ngang của chính nó*/
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;   /* trả lại đúng size cho slider*/
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

#slider .text-content .text-heading {
    padding: 10px 0;
    font-weight: 400;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 24px;
}

#slider .text-content .text-description {
    padding: 15px 0;
    font-weight: bolder;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
}

#content{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#content .content-section{
    width: 800px;
    padding: 64px 0; 
    margin-left: auto;
    margin-right: auto;
    /* Responsive for ipad */
    /* max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;  */
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

#content .section-slogan{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    font-weight: 1.5;
    /* color: rgba(0,0,0,0.45); */
    opacity: 0.6;
    margin: 10px 0;
}

#content .about-text{
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    margin: 15px 0;
}


#content .member-list {
    padding: 16px 0 32px;
    overflow: hidden;
}

#content .member-item{
    /* float: left;    
    width: calc(100% / 3); */
    text-align: center;
}

#content .member-name{
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
}

#content .member-img {
    width: 60% !important;
    border-radius: 4px;   /*bo góc*/
}

.tour-section{
    background-color: #000;
    padding: 0 0 48px;
}

#content > .tour-section > .content-section {
    padding: 64px 16px;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    font-size: 15px;
    line-height: 1.5;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;

}

.tickets-list .sold-out {
    background-color: #f44336;
    margin: 0 0 0 16px;
    padding: 0 8px;
    display: inline-block;
    line-height: 1.5;
    font-size: 15px;
    color: #fff;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 22px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;  /*=width*/
}

.places-list {
    margin-top: 16px;
    margin-bottom: 0;
    /* margin: 32px -8px 0; */
}

.place-item{
    width: 33.33333%;
    background-color: #fff;
    background-clip: content-box;
    /* float: left;
       padding: 0 8px;  */
}

.place-img{
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body{
    padding: 0.16px 16px;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.place-heading{
    margin: 15px 0;
    font-weight: 600;
}

.place-time{
    margin: 15px 0;
    opacity: 0.6;
}

.place-desc{
    margin: 15px 0;
}

.place-buy-btn{
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.place-buy-btn:hover{
    background-color: #ccc;
}

.contact-content {
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*='ti-'] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.7;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    font-size: 15px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 8px 16px;
    margin-bottom: 48px;
    float: right;
    cursor: pointer;
}

.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: #000;
}

.map-section img {
    max-width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 22px;
}

#footer .social-list a {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
}

#footer .social-list a:hover {
    opacity: 0.5;
}

.copyright {
    margin: 15px 0;
}

.copyright a {
    color: #000;
    cursor: pointer;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    /*display: flex;*/         /*để lớp modal-container nằm ở giữa modal*/
    align-items: center;                           /*Giữa doc*/
    justify-content: center;                       /*Giữa ngang*/
    display: none;
}

.modal.open {     /*chứa cả 2 class thì sẽ kích hoạt */
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: FadeIn ease .5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400;
}

.modal-header > i {
    margin-right: 12px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
    opacity: 0.8;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-body {
    padding: 15px;
}

.modal-label {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 28px;
}

#buy-tickets {
    width: 100%;
    padding: 16px;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border: none;
    font-weight: bolder;
}

#buy-tickets:hover{
    opacity: 0.8;
}

.modal-footer {
    text-align: right;
    padding: 16px;    
}

.modal-footer a {
    color: #2196F3;
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}